# Ordre de priorité
# Les variables d'environnement dans votre application seront chargées dans cet ordre : 
#     .env.[NODE_ENV].local
#     .env.local
#     .env.[NODE_ENV]
#     .env

NEXT_PUBLIC_MODE=development
NEXT_PUBLIC_API_URL="https://api....."